@page "/"
@namespace TrabConteudoAcademico.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, TrabConteudoAcademico

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(Login)" />
    </Found>
    <NotFound>
        <LayoutView Layout="typeof(Login)">
            <p>Página não encontrada</p>
        </LayoutView>
    </NotFound>
</Router>
